<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss_cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1002},{174,112}}</string>
                <key>offset</key>
                <string>{5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,14},{174,112}}</string>
                <key>sourceSize</key>
                <string>{210,138}</string>
            </dict>
            <key>Boss_cannon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1002},{120,120}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,11},{120,120}}</string>
                <key>sourceSize</key>
                <string>{144,140}</string>
            </dict>
            <key>Boss_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{792,486}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,12},{792,486}}</string>
                <key>sourceSize</key>
                <string>{832,510}</string>
            </dict>
            <key>Boss_shooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,1054},{326,80}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{15,24},{326,80}}</string>
                <key>sourceSize</key>
                <string>{352,126}</string>
            </dict>
            <key>SpaceFlier_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,732},{22,22}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,3},{22,22}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>SpaceFlier_lg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,320},{410,218}}</string>
                <key>offset</key>
                <string>{-15,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,25},{410,218}}</string>
                <key>sourceSize</key>
                <string>{478,260}</string>
            </dict>
            <key>SpaceFlier_lg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,942},{404,218}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,25},{404,218}}</string>
                <key>sourceSize</key>
                <string>{478,260}</string>
            </dict>
            <key>SpaceFlier_med_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{358,218}}</string>
                <key>offset</key>
                <string>{11,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{71,25},{358,218}}</string>
                <key>sourceSize</key>
                <string>{478,260}</string>
            </dict>
            <key>SpaceFlier_sm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1382},{314,218}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,25},{314,218}}</string>
                <key>sourceSize</key>
                <string>{478,260}</string>
            </dict>
            <key>SpaceFlier_sm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{308,218}}</string>
                <key>offset</key>
                <string>{36,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,25},{308,218}}</string>
                <key>sourceSize</key>
                <string>{478,260}</string>
            </dict>
            <key>asteroid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{510,512}}</string>
                <key>offset</key>
                <string>{2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,28},{510,512}}</string>
                <key>sourceSize</key>
                <string>{570,570}</string>
            </dict>
            <key>enemy_spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{516,732},{468,208}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,17},{468,208}}</string>
                <key>sourceSize</key>
                <string>{508,242}</string>
            </dict>
            <key>healthbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1352},{296,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{296,18}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>healthbar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1054},{296,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{296,18}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>healthbar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,756},{296,18}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,6},{296,18}}</string>
                <key>sourceSize</key>
                <string>{306,30}</string>
            </dict>
            <key>laserbeam_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,262},{222,56}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,10},{222,56}}</string>
                <key>sourceSize</key>
                <string>{242,74}</string>
            </dict>
            <key>laserbeam_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,942},{102,40}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,5},{102,40}}</string>
                <key>sourceSize</key>
                <string>{116,48}</string>
            </dict>
            <key>powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,132},{226,128}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{226,128}}</string>
                <key>sourceSize</key>
                <string>{254,160}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,2},{226,128}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,18},{226,128}}</string>
                <key>sourceSize</key>
                <string>{254,160}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:395dcbbd3228a961168aea1685249e24$</string>
            <key>textureFileName</key>
            <string>Sprites-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
