<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Boss_cannon.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,517},{89,57}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,6},{89,57}}</string>
                <key>sourceSize</key>
                <string>{105,69}</string>
            </dict>
            <key>Boss_cannon_ball.png</key>
            <dict>
                <key>frame</key>
                <string>{{351,517},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,5},{60,60}}</string>
                <key>sourceSize</key>
                <string>{72,70}</string>
            </dict>
            <key>Boss_ship.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{398,243}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{398,243}}</string>
                <key>sourceSize</key>
                <string>{416,255}</string>
            </dict>
            <key>Boss_shooter.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{164,41}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,11},{164,41}}</string>
                <key>sourceSize</key>
                <string>{176,63}</string>
            </dict>
            <key>SpaceFlier_bullet.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,412},{12,12}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{12,12}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>SpaceFlier_lg_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{205,108}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,13},{205,108}}</string>
                <key>sourceSize</key>
                <string>{239,130}</string>
            </dict>
            <key>SpaceFlier_lg_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,209},{201,108}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,13},{201,108}}</string>
                <key>sourceSize</key>
                <string>{239,130}</string>
            </dict>
            <key>SpaceFlier_med_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{179,108}}</string>
                <key>offset</key>
                <string>{5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,13},{179,108}}</string>
                <key>sourceSize</key>
                <string>{239,130}</string>
            </dict>
            <key>SpaceFlier_sm_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,247},{157,108}}</string>
                <key>offset</key>
                <string>{16,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,13},{157,108}}</string>
                <key>sourceSize</key>
                <string>{239,130}</string>
            </dict>
            <key>SpaceFlier_sm_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,657},{153,108}}</string>
                <key>offset</key>
                <string>{18,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,13},{153,108}}</string>
                <key>sourceSize</key>
                <string>{239,130}</string>
            </dict>
            <key>asteroid.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,247},{255,257}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,13},{255,257}}</string>
                <key>sourceSize</key>
                <string>{285,285}</string>
            </dict>
            <key>enemy_spaceship.png</key>
            <dict>
                <key>frame</key>
                <string>{{261,412},{234,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,9},{234,103}}</string>
                <key>sourceSize</key>
                <string>{254,121}</string>
            </dict>
            <key>healthbar_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,614},{149,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,9}}</string>
                <key>sourceSize</key>
                <string>{153,15}</string>
            </dict>
            <key>healthbar_green.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,504},{149,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,9}}</string>
                <key>sourceSize</key>
                <string>{153,15}</string>
            </dict>
            <key>healthbar_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,426},{149,9}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{149,9}}</string>
                <key>sourceSize</key>
                <string>{153,15}</string>
            </dict>
            <key>laserbeam_blue.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,247},{111,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,4},{111,29}}</string>
                <key>sourceSize</key>
                <string>{121,37}</string>
            </dict>
            <key>laserbeam_red.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,360},{50,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,2},{50,20}}</string>
                <key>sourceSize</key>
                <string>{58,24}</string>
            </dict>
            <key>powerup.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,619},{113,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{113,64}}</string>
                <key>sourceSize</key>
                <string>{127,80}</string>
            </dict>
            <key>powerup2.png</key>
            <dict>
                <key>frame</key>
                <string>{{183,504},{113,64}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,9},{113,64}}</string>
                <key>sourceSize</key>
                <string>{127,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8229d6399b7caddc773a06bb34c83457$</string>
            <key>textureFileName</key>
            <string>Sprites-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
